@import "bootstrap/dist/css/bootstrap.min.css";

body {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generator {


    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    width: 1000px;
    height: 300px;
    box-shadow: 0 0 10px 2px #858585;
    background: rgb(255, 243, 205);
    padding: 5px;
    ;


}

#btn {

    background: #ffb347;
    color: #4a3b00;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0);
    transition: all 0.2s ease-in-out;
   

}

#btn:hover {
    background: #ffcc3f;
    transform: translateY(-3px);
    /box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

#btn:active {
    transform: translateY(0); 
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.excusa {
    padding: 40px 40px 50px 40px;
    text-align: center;
}

.btnBox {
    height: 200px;
    margin: 50px 0 0 0;
}

